// set up color hex values
$blue: #2d769b;
$blue-dark: #042036;
$gray: #4c5f71;
$gray-light: #eeeeee;
$orange: #E9794B;
$black: #000000;
$white: #ffffff;


// set up color variables
$color-primary: $orange;
$color-secondary: $gray;
$color-highlight: $blue;
$brex-orange: $orange;

// set up color classes
.color-primary {
  color: $blue
}
.color-secondary {
  color: $gray
}
.color-highlight {
  color: $blue
}
