// email input component
.email-signup {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  
  .email-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .email-input {
    font-size: .875rem;
    line-height: 3rem;
    width: 70%;
    padding-left: .75rem;
  }
  
  .email-signup-button {
    font-size: .75rem;
    line-height: 3rem;
    border: 1.5px solid $color-primary;
    background-color: $color-primary;
    color: $white;
    width: 25%;
    margin-left: 15px;
  }
  
  .email-signup-button:hover {
    text-decoration: underline;
  }
  
  .email-signup-error {
    background-color:  rgba(255, 199, 199, 0.70);
    color: #a70000;
    padding: 1px;
    margin-top: 15px;
  }
  
  .email-signup-success {
    background-color:  rgba(5, 255, 47, 0.50);
    color: $black;
    padding: 1px;
    margin-top: 15px;
  }