@import "./abstracts/variables.scss";

@import "./components/nav.scss";
@import "./components/hero.scss";
@import "./components/emailSignup.scss";
@import "./components/feature.scss";

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gotham", sans-serif;
}

.background {
  background-color: $white;
  height: 100%;
  min-height: 100vh;
}

.page {
  height: 100%;
  background-color: $white;
}